@model RequestPrototype.Models.Rootobject
  
@{
    Layout = "_Layout";
    ViewBag.Title = "Display";
}  

<!DOCTYPE html>

<html>
<head>
    <link href="~/Styles/display.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="upper_block_container"></div>

    <div class="display-wrapper">
    @{
        if (@Model.HasData())
        {
            <div class="inner-display">
                <h2><b>@Model?.MetaData?.Symbol?.ToUpper()</b></h2>
            

            <table border="1" class="table table-striped table-dark table-hover table-sm display-table">  

                <thead class="thead-dark">
                    <tr>
                        <td class="bg-success">TimeStamp</td>
                        <td class="bg-success">Open</td>  
                        <td class="bg-success">High</td>   
                        <td class="bg-success">Low</td>   
                        <td class="bg-success">Close</td>   
                        <td class="bg-success">Volume</td>  
                    </tr>
                </thead>
                <tbody>  
                    @{
                        foreach (var stockData in @Model?.TimeSeries ?? new Dictionary<string, RequestPrototype.Models.StockData>())
                        {
                            <tr>  
                                <td>@stockData.Key</td>
                                <td>@stockData.Value.Open</td>  
                                <td>@stockData.Value.High</td>   
                                <td>@stockData.Value.Low</td>   
                                <td>@stockData.Value.Close</td>   
                                <td>@stockData.Value.Volume</td>  
                            </tr>
                        }
                    }
                </tbody>  

            </table>
            </div>
        }
        else
        {
            <div class="error">
                <img class="error_icon" src="~/Icons/not_found.svg" draggable="false"/>
                <div class="break"></div>
                <h2><b>Error: Incorrect Symbol</b></h2>

                <div class="break"></div>

                <div class="home_button">
                    <a href="/Home/Index" title="Home" draggable="false">
                        <b>Back to Home</b>
                    </a>
                </div>
            </div>
        }
    }
    </div>
</body>
</html>